@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  width: 100%;
  padding: 24px;
  flex-grow: 1;
  min-width: 0;
  background-color: #efefef;

}
.title1 {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}

.customDeleteClass {
  margin-top: 100px;
  /* padding-left: 10;
  padding-right: 0; */
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.modalContainer {
  z-index: 9999;
  max-width: 1024px;
}

.deleteFooter {
  border-top: none;
  display: flex;
  padding-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
  /* float: right; */
  justify-content: space-around;
}
.footer {
  border-top: none;
  display: flex;
  padding-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
  float: right;
  /* justify-content: space-around; */
}

.header {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}
.bex{
  display: block;
  float: right;
  padding-right: 46px;
  padding-top: 21px;
  margin-right: -60px;
  width: 75%;
}
.checkbox100{
  height: 24px;
  width: 18px;
  color: #272D3B;
 }
 .box {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;

  }
  .box1 {
    width: 100%;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 70px;
    display: block;
    height: 360px;
    color: #272D3B;
  }

.modalContainer1 {
    z-index: 9999;
    max-width: 465px;
    /* max-width: 1024px; */
  }

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.textfield {
    font-family: Montserrat;
    display: flex;
    padding-right: 9px;
   margin-top: auto;
  }

  .error_message {

    color: #ef0b0bde;
    font: normal normal normal 10px/10px Montserrat;
    text-align: center;
    position: absolute;
    margin-left: 201px;
    margin-top: 65px;
  }
  .massageRight {
    color: #ef0b0bde;
    font: normal normal normal 10px/10px Montserrat;
    text-align: center;
    position: absolute;
    margin-left: 255px;
    margin-top: 67px;
}

  .checkbox100{
    height: 24px;
    width: 18px;
    color: #272D3B;
   }
   .saveButton {
    display: flex;
    justify-content: center;
    margin-top: 6%;

   }

  .inputfield {
    font-weight: bold;
    font-family: Montserrat;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272D3B;
    border-radius: 7px;
    opacity: 1;
    width: 158%;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    margin: 17px 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 74px;
}

.box2 {
    /* background-color: blue; */
    margin-top: -30px;
    /* box-shadow: 0px 4px 8px 0px #08080833; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
    border-radius: 20px;

  }
  .box3 {
    width: 100%;
    padding-top: 4px;
    /* height: 45%; */
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 60px;
    display: block;
    color: #272D3B;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

  .table {
    padding-top: 1px;
    width: 100%;
    /* overflow: hidden; */
    border-radius: 20px;
  }
  .filterContent {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchBarDiv {
    display: flex;
    width: 800px;
    justify-content: space-between;
  }
  .dropbtn {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .checkBoxLabel{

    text-align: left;
    font: normal normal bold 12px/20px Montserrat;
    letter-spacing: 0px;
    color: #213D77;
    opacity: 1;


  }
  .dropdown_content {
    display: none;
    margin-left: -20px;
    overflow: visible;
    position: absolute;
    background-color: white;
    min-width: 92px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }

  .dropdown_content a {
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    cursor: pointer;
    margin: 8px 8px;
    text-decoration: none;
    display: block;
  }
  .image_upload {
    width: 120px;
    height: 67px;
    display: flex;
    align-items: center;
    border: solid;
    border-color: #272d3b;
    border-width: 1px;
    border-radius: 5px;
    margin: auto 114px;
    justify-content: center;
    margin-top: -19px;
}
.label_class {
width:71%;
text-align: center;
margin-left: 40px;
}
 .upload_image > input {
    display: none;
  }
  .dropdown_content div:hover { cursor: pointer; }

  .dropdown:hover .dropdown_content {display: block;}

  .dropdown:hover .dropbtn {background-color: white;}

  .arrow {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .pageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .labelLeft{
    margin: auto;
    text-align: left;
    width: 68%;
    display: inline-block;
    margin-left: 50px;
  }
  .labelRight{
    margin: auto;
    text-align: center;
    width: 115%;
    display: inline-block;
  }
  .p_t_0{
    padding: 0px;
  }
  .m_r_9{
    margin-right: 9px;
    padding: 0px;
  }
  .imgRight{
    margin: auto;

    width: 115%;
    display: inline-block;
  }

  .emptyTable {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font: normal normal bold 18px/18px Montserrat;
    letter-spacing: 0px;
    color: #715555;
    opacity: 1;
  }

 /* saveButton */
 @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    }
    .extraDiv {
      display: none;
    }
    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
@media (min-width:540px) and (max-width:720px) {
  .textfield {
  display: flex;
  flex-direction: column;
  width: 70%;
  }
.inputfield {
  width: 120%;
  margin: 15px 32px;
}
.box3 {
  margin-top: 13px;
  padding-right: 34px;
  width: 127%;
  margin-left: -45px;
}
.box1 {
  border-radius: inherit;
         box-shadow: 0px 4px 8px 0px #08080833;
}
}
  @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
    .grid1 {
      display: flex;
      flex-direction: column;
    }
    .detailsBox {
      display: flex;
      flex-direction: column;
    }
    .box2 {
      width: 100%;
    }
  }
  @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    }
    .extraDiv {
      display: none;
    }
    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  @media (min-width: 180px) and (max-width: 428px) {
    .header {
      flex-direction: column;
    }
    .title1 {
      font-size: 22px;
      margin-bottom: 8px;
    }
    .saveButton {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      margin-top: 0px;
    }
  }
  @media (min-width: 280px) and (max-width: 1040px) {
    .filterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .searchBarDiv {
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dateDiv {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .selectDiv1 {
      width: 100%;
      margin-bottom: 5px;
    }
    .select1 {
          font-weight: bold;
    font-family: Montserrat;
    width: 130%;
    font-size: inherit;
    outline: none;
    height: 40px;
    padding-left: 7px;
    padding-right: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272D3B;
    border-radius: 7px;
    opacity: 1;
    margin-right: -41px;
    }
  }
  @media (min-width: 280px) and (max-width: 1040px) {
    .filterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .searchBarDiv {
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dateDiv {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .selectDiv1 {
      width: 100%;
      margin-bottom: 5px;
    }
    .select1 {
      width: 100%;
    }
  }

/* box3 */
