@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  width: 100%;
  flex-grow: 1;
  min-width: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #efefef;
}

.title1 {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}
.bex{
  display: block;
  float: right;
  padding-right: 46px;
  padding-top: 21px;
  margin-right: -60px;
  width: 75%;
}
.checkbox100{
  height: 24px;
  width: 18px;
  color: #272D3B;
 }
 .box {
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
  }

  .box1 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: white;
    /* box-shadow: 0px 4px 8px 0px #08080833; */
    display: block;
    /* height: 300px; */
    color: #272D3B;
  }
  .grid {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-top: 0px;
    /* margin-bottom: -24px; */
    border-radius: 8px;
    width: 510px;
    line-height: 0.43;
    /* margin-left: -40px; */
}

.textfield {
    font-family: Montserrat;
    display: flex;
    align-items: center;
    margin: 11px 30px 11px 30px;
    padding-left: 25px;
    padding-right: 10px;
    width: 100%;
  }
  .error_message {
    color: #ef0b0bde;
    font: normal normal normal 10px/10px Montserrat;
    text-align: center;
    position: absolute;
    margin-left: 232px;
    margin-top: 46px;
  }
  .checkbox100{
    height: 24px;
    width: 18px;
    color: #272D3B;
   }

   .saveButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }

  .inputfield {
    font-weight: bold;
    font-family: Montserrat;
    width: 485px;
    font-size: inherit;
    outline: none;
    height: 40px;
    padding-left: 7px;
    padding-right: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272D3B;
    border-radius: 7px;
    opacity: 1;
}
.box2 {
    margin-top: 38px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  .box3 {
    width: 100%;
    padding-top: 4px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 60px;
    display: block;
    /* height: 485px; */
    color: #272D3B;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

  .table {
    padding-top: 1px;
    /* margin-top: 50px; */
    box-shadow: 0px 4px 8px 0px #08080833;
    width: 100%;
    border-radius: 20px;
  }
  .filterContent {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchBarDiv {
    display: flex;
    width: 800px;
    justify-content: space-between;
  }

  .activeAndButton{
    display: flex;
    justify-content: flex-end;
  }

  .dropbtn {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .checkBoxLabel{

    text-align: left;
    font: normal normal bold 12px/20px Montserrat;
    letter-spacing: 0px;
    color: #213D77;
    opacity: 1;

  }

  .modalCategoryContainer {
    z-index: 9999;
    max-width: 465px;
    /* max-width: 1024px; */
  }

  .deleteFooter {
    border-top: none;
    display: flex;
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 26px;
    /* float: right; */
    justify-content: space-around;
  }

  .dropdown_content {
    display: none;
    margin-left: -20px;
    overflow: visible;
    position: absolute;
    background-color: white;
    min-width: 92px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }

  .dropdown_content a {
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    cursor: pointer;
    margin: 8px 8px;
    text-decoration: none;
    display: block;
  }
  .image_upload {
    width: 114px;
    height: 63px;
    display: flex;
    align-items: center;
    border: solid;
    border-color: #272d3b;
    border-width: 1px;
    border-radius: 5px;
    margin: auto 86px;
    justify-content: center;
}

.modalBody {
  padding-top: 25px;
  padding-bottom: 25px;
}

.changeStatusClass {
  padding-top: 25px;
  border-radius: 4px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.Container2 {
  margin: auto;
}

.customDeleteClass {
  min-width: 600px;
  left: -66px;
  margin-top: 100px;
  /* padding-left: 10;
  padding-right: 0; */
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.footer1 {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

  .upload_image > input {
    display: none;
  }
  .dropdown_content div:hover { cursor: pointer; }

  .dropdown:hover .dropdown_content {display: block;}

  .dropdown:hover .dropbtn {background-color: white;}

  .arrow {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .pageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .title1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  @media (min-width: 280px) and (max-width: 750px) {
    .textfield {
      flex-direction: column;
    }
  }

  @media (min-width: 280px) and (max-width: 1040px) {
    .filterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .searchBarDiv {
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dateDiv {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .selectDiv1 {
      width: 100%;
      margin-bottom: 5px;
    }
    .select1 {
      width: 100%;
    }
  }

  .emptyTable {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font: normal normal bold 18px/18px Montserrat;
    letter-spacing: 0px;
    color: #715555;
    opacity: 1;
}

@media (min-width: 280px) and (max-width: 650px) {
  .customDeleteClass {
    min-width: inherit;
    left: 0;
  }
}

@media (min-width: 280px) and (max-width: 400px){
  .deleteFooter {
    display: flex;
    flex-direction: column;
  }
}

/* 720pximage_upload textfield box1 modalCategoryContainer box1 saveButton gridtable box footer1  */
