@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  width: 100%;
}
.title1 {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}

.header {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}
/* .bex{
  display: block;
  float: right;
  padding-right: 46px;  
  padding-top: 10px;
  margin-right: -60px;
  width: 75%;
} */
.checkbox100{
  height: 24px;
  width: 18px;
  color: #272D3B;
 }
 .box {
    /* background-color: blue; */
    margin-top: 50px;
    /* box-shadow: 0px 4px 8px 0px #08080833; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
    border-radius: 20px;

  }
  .box1 {
    width: 100%;
    padding-top: 6px;
    /* height: 45%; */
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 66px;
    display: block;
    height: 235px;
    color: #272D3B;
    margin-left: -2px;
  }
  
  .grid {
    /* width: 100%;
    line-height: 0.43;
    margin-left: -40px;
    display:flex; */
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 560px;
}
.textfield {
    font-family: Montserrat;
    display: flex;
    /* flex-direction: column; */
    /* margin: 11px 30px 11px 30px; */
    padding-left: 25px;
    margin-bottom: 5px;
    padding-right: 10px;
    width: 100%;
  }
  .error_message {
    /* padding-top: 4px;
    padding-left: 10px; */
    color: #ef0b0bde;
    font: normal normal normal 10px/10px Montserrat;
    /* text-align: center; */
    margin-left: 165px;
  }
  .checkbox100{
    height: 24px;
    width: 18px;
    color: #272D3B;
   }
   /* .saveButton {
    display: flex;
    justify-content: flex-end;
    width: 67%;
    margin-top: -20px;
    margin-right: 207px;
    margin-bottom: 17px;
    float: right;
  } */
  .inputfield {
    font-weight: bold;
    /* border-color: #00000069; */
    font-family: Montserrat;
    /* border-radius: 5px; */
    width: -webkit-fill-available;
    /* border-width: thin; */
    font-size: inherit;
    outline: none;
    height: 40px;
    padding-left: 7px;
    padding-right: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272D3B;
    border-radius: 7px;
    opacity: 1;
}
.box2 {
    /* background-color: blue; */
    margin-top: -58px;
    /* box-shadow: 0px 4px 8px 0px #08080833; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
    border-radius: 20px;

  }
  .box3 {
    width: 100%;
    padding-top: 4px;
    /* height: 45%; */
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 60px;
    display: block;
    height: 485px;
    color: #272D3B;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
  
  .table {
    padding-top: 1px;
    background-color: white;
    margin-top: -25px;
    box-shadow: 0px 4px 8px 0px #08080833;
    /* margin-left: 3px; */
    /* margin-right: 20px; */
    width: 100%;
    /* overflow: hidden; */
    border-radius: 20px;
  }

  .filterContent {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
  }
  .searchBarDiv {
    display: flex;
    /* width: 800px; */
    justify-content: space-between;
  }
  .dropbtn {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .dropdown_content {
    display: none;
    margin-left: -31px;
    overflow: visible;
    /* border-radius: 8px; */
    position: absolute;
    background-color: white;
    min-width: 114px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown_content a {
    color: black;
    font-size: 10px;
    font-family: Montserrat;
    cursor: pointer;
    margin: 8px 8px;
    text-decoration: none;
    display: block;
  }

  .label{
    display: inline-block;
    text-align: left;
    width: 185px;
    margin: auto;
    font:normal normal normal 14px/16px Montserrat;
    letter-spacing:0px;
    color:#272D3B;
    opacity:1;
  }
  
  .dropdown_content div:hover { cursor: pointer; }
  
  .dropdown:hover .dropdown_content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: white;}
  
  .arrow {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 3px;
  }
  
  .pageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .customClass {
    margin-top: 30px;
    border-radius: 12px;
    width: 90%;
    height: 100%;
  }
  .customClasss{
    margin-top:-100px;
    width: 90%;
    height: 100%;
  }
  
.modalContainer1 {
  z-index: 9999;
  max-width: 430px;
  /* max-width: 1024px; */
}
.textfield2{
  display: flex;
  flex-direction: column;
  margin: 32px 16px 19px 20px;
  padding-left: 30px;
  width: 78%;
}
.footer1 {
  border-top: none;
  display: flex;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 30px;
  justify-content: space-around;
}
.main1{
  display: flex;
  justify-content: space-between;
  width: 385px;
  margin-left: 160px;

  /* margin-left: 185px; */
}
/* .bex{
  display: flex;
    justify-content: center;
 
} */
.saveButton{
  align-items: center;
  display: flex;
   float:right;
    /* float: left; */
    /* display: inline-block; */
    /* margin-right: 138px; */
}
.modalContainer1{
  margin: auto;
}

.pageDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Container2 {
  margin: auto;
}

.changeStatusClass {
  padding-top: 25px;
  border-radius: 4px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.modalBody {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer1 {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.emptyTable {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font: normal normal bold 18px/18px Montserrat;
  letter-spacing: 0px;
  color: #715555;
  opacity: 1;
}

@media(min-width: 775px) and (max-width: 899px){
  .error_message {
    margin-left: 215px;
  }
}

@media(min-width: 429px) and (max-width: 774px){
  .error_message {
    margin-left: 30px;
  }
}

@media(min-width: 280px) and (max-width: 428px){
  .error_message {
    margin-left: 10px;
  }
}

 /* saveButton */
 @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    }
    .extraDiv {
      display: none;
    }
    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
    flex-direction: column;
    width: 100%;
    }
    .grid1 {
      display: flex;
      flex-direction: column;
    }
    .fullGrid {
      display: flex;
      flex-direction: column;
    }
    .detailsBox {
      display: flex;
      flex-direction: column;
    }
    .box2 {
      width: 100%;
    }
    .box3 {
      width: 100%;
  }
  .box1{
    width: 100%;
    height: 280PX;
  }
  .textfield2{
    width: 100%;
    /* display: inline-flex; */
    margin-left: 57px;
    padding-top: 14px;
    margin: 11px 30px 11px 30px;
    padding-left: 25px;
    padding-right: 10px;
    display: block;
  }

  .inputfield{
    height: 40px;
   
  }

}
  @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr ;
      /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    }
    .extraDiv {
      display: none;
    }
    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .main1{
      /* width: 70%; */
      margin-left: 155px;
    }
  }
  @media (min-width: 180px) and (max-width: 428px) {
    .header {
      flex-direction: column;
    }
    .title1 {
      font-size: 22px;
      margin-bottom: 8px;
    }
   /* .saveButton1{
     width: 90%;
     margin-right: 115px;
   } */
  .box1{
    height: auto;
  }
  .textfield{
    font-family: Montserrat;
    display: block;
    flex-direction: column;
    /* margin: 11px 30px 11px 30px; */
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  /* .bex{
    margin-left: -164px;
    margin-top: -10px;
  }  */
  .main1{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 96%;
    margin-left: 5px;
   
  }
  .saveButton{
    display: block;
    width: 100%;
  }
  }
  @media (min-width: 280px) and (max-width: 500px) {
    .filterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: 0px;
    }
    .searchBarDiv {
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dateDiv {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .selectDiv1 {
      width: 100%;
      margin-bottom: 5px;
    }
    .select1 {
      width: 100%;
    }
   
  }
  @media (min-width: 450px) and (max-width: 899px) {
.textfield  {
  display: block;
}
  }
    @media (min-width: 580px) and (max-width: 899px) {
      .inputfield{
        height: 40px;
        width: 68%;
      }
      /* .main1{
        justify-content: center;
        width: 65%;
        display: flex;
      } */
    }
    @media (min-width: 540px) and (max-width: 680px) {
      .modalContainer1{
        margin: auto;
      }
    }
    @media (min-width: 280px) and (max-width: 460px) {
      .modalContainer1{
        display: flex;
        margin-top: 75px;
        width: 89%;
        margin-left: 15px;
      }
      .customClasss{
        width: 100%;
        margin-left: -4px;
      }
      .textfield2{
        display:contents;
        /* width: 76%; */

      }
    }
    @media (min-width: 470px) and (max-width: 1024px) {
      .modalContainer1{
        margin-top: 75px;
      }
      .textfield2{
        width: 76%;
      }
    }
   
    @media (min-width: 768px) and (max-width: 1024px) {
      .customClasss{ 
        width: 95%;
        margin-left: 20px;
        display: flex;
        /* margin-top: auto; */
      }
    }
    @media (min-width: 450px) and (max-width: 575px) {
      .main1{
        width: 88%;
    /* display: flex; */
    margin-left: 30px;
      }
    }
    @media (min-width: 580px) and (max-width: 734px) {
      .main1{
        width: 61%;
        margin-left: 26px;
      }
    }
    @media (min-width:735px) and (max-width: 774px) {
      .main1{
        width: 61%;
        margin-left: 27px;
      }
    }
    @media (min-width:775px) and (max-width: 899px) {
      .main1{
        width: 63%;
        margin-left: 213px;
      }
    }
    
    
 


  /* @media (min-width: 768px) {
  .main1{
    width: 68%;
    display: inline-block;
    padding-left: 142px;
  }
} */
  /* @media (min-width: 280px) and (max-width:500pxx) {
    .filterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .searchBarDiv {
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dateDiv {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .selectDiv1 {
      width: 100%;
      margin-bottom: 5px;
    }
    .select1 {
      width: 100%;
    }
  } */
  /* @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
  @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
    flex-direction: column;
    width: 100%;
    }
  }
  @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  } */


  /* label grid error main1 textfield 734 searchBardiv table*/