@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  width: 100%;
}
.title1 {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}

.header {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  text-align: left;
  font: normal normal bold 25px/26px Montserrat;
  letter-spacing: 0px;
  color: #213D77;
  opacity: 1;
}
.bex{
  display: flex;
  float: right;
  padding-right: 49px;
  padding-top: 50px;
  margin-right: -64px;
  width: 74%;
}
.checkbox100{
  height: 24px;
  width: 18px;
  color: #272D3B;
 }

.table {
  background-color: white;
  margin-top: 50px;
  box-shadow: 0px 4px 8px 0px #08080833;
  margin-left: 20px;
  margin-right: 20px;
  width: 98%;
  overflow: hidden;
  border-radius: 20px;
}

.filterContent {
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  /* background-color: blue; */
  margin-top: 50px;
  /* box-shadow: 0px 4px 8px 0px #08080833; */
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  /* height: 400px; */
  overflow: hidden;
  border-radius: 20px;

}

/* select css */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
   box-shadow: none;
  border: 5px !important;
  background: green;
   background-image: none;
} */
/* Remove IE arrow */
/* select::-ms-expand {
  display: none;
} */
/* Custom Select */
.select1 {
    outline: none;
    padding-left: 4px;
    text-align: left;
    font-family: Montserrat;
    /* font-size: medium; */
    font-size: inherit;
    font-weight: bold;
    /* border-color: #00000069;
    font-family: Montserrat; */
    /* font-weight: 500; */
    letter-spacing: 0px;
    opacity: 1;
    position: relative;
    display: flex;
    border-width: thin;
    /* width: 135px; */
    border-color: #cac7c7;
    height: 30px;
    line-height: 3;
    background: #ffffff;
    overflow: hidden;
    border-radius: 4px;
}

.select1 option{

  border-radius: 50px;
  height: 100px;
  overflow: hidden;
}
/* select {
  flex: 1;
  padding: 0 .5em;
  color: black;
  cursor: pointer;
} */
/* Arrow */
.select1::after {
  border-width: thin;
border-color: #cac7c7;
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select1:hover::after {
  color: #f39c12;
}

 .select1 > option {
   font-weight: bold;
   border-color: #00000069;
   font-family: Montserrat;
   /* background-color: pink; */
}

 .select1 > option:hover{
   background-color: red;
 }

.select1::selection {
  background-color: blue;
  border-width: thin;
border-color: #cac7c7;
}

.select1::selection {
  border-width: thin;
  border-color: #cac7c7;
}
/* select css */

.dropbtn {
  display: flex;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 6px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown_content {
  display: none;
  margin-left: -20px;
  overflow: visible;
  /* border-radius: 8px; */
  position: absolute;
  background-color: white;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  font-size: 10px;
  font-family: Montserrat;
  cursor: pointer;
  margin: 8px 8px;
  text-decoration: none;
  display: block;
}

.dropdown_content div:hover { cursor: pointer; }

.dropdown:hover .dropdown_content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

.arrow {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-top: 3px;
}

.pageDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
    /* background-color: blue; */
    margin-top: 50px;
    /* box-shadow: 0px 4px 8px 0px #08080833; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
    border-radius: 20px;

  }

  .box2 {
    width: 46%;
    padding-top: 20px;
    /* height: 45%; */
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 60px;
  }

  .box1 {
    width: 100%;
    padding-top: 6px;
    /* height: 45%; */
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 60px;
    display: block;
    height: 578px;
    color: #272D3B;
  }
  .box3 {
    width: 100%;
    padding-top: 20px;
    height: 800px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #08080833;
    margin-bottom: 30px;
  }
  .textfield {
    font-family: Montserrat;
    display: flex;
    /* flex-direction: column; */
    margin: 11px 30px 11px 30px;
    padding-left: 25px;
    padding-right: 10px;
    width: 100%;
  }
  .textfield2{
    width: 114%;
    display: inline-flex;
    margin-left: 57px;
    padding-top: 14px;
  }
  .label{
    display: inline-block;
    text-align: left;
    width: 185px;
    margin: auto;
    font:normal normal normal 14px/16px Montserrat;
    letter-spacing:0px;
    color:#272D3B;
    opacity:1;
  }

  .inputfield {
    font-weight: bold;
    /* border-color: #00000069; */
    font-family: Montserrat;
    /* border-radius: 5px; */
    width: -webkit-fill-available;
    /* border-width: thin; */
    font-size: inherit;
    outline: none;
    height: 40px;
    padding-left: 7px;
    padding-right: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272D3B;
    border-radius: 7px;
    opacity: 1;
}
.inputfield1 {
  font-weight: bold;
  /* border-color: #00000069; */
  font-family: Montserrat;
  /* border-radius: 5px; */
  width:84%;
  /* border-width: thin; */
  font-size: inherit;
  outline: none;
  height: 40px;
  padding-left: 7px;
  padding-right: 25px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #272D3B;
  border-radius: 7px;
  opacity: 1;
}

  .input_s {
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border-color: #00000069;
    font-family: Montserrat;
    border-radius: 5px;
    /* width: -webkit-fill-available; */
    border-width: thin;
    font-size: inherit;
    font-weight: bold;
    outline: none;
    height: 45px;
  }

  .checkBoxLabel{
    text-align: left;
    font: normal normal bold 12px/12px Montserrat;
    letter-spacing: 0px;
    color: #272D3B;
    opacity: 1;
  }
  .Checkbox{
    float: right;
    padding-right: 142px;
    padding-top: 16px;
  }

  .grid {
    /* display: inline-block;
    /* width: max-content; */
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;

    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: -24px;
    border-radius: 8px;
    width: 45%;
    line-height: 0.43;
    margin-left: -40px;
}

  

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* .saveButton {
    display: flex;
    justify-content: flex-end;
    width: 67%;
    margin-top: -20px;
    margin-right: 207px;
  
    margin-bottom: 17px;
    float: right;
  } */
  .saveButton{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 200px;
    float: right;
    margin-right: 64px;
  }

  .customDeleteClass {
    margin-top: 100px;
    /* padding-left: 10;
    padding-right: 0; */
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }

  .modalContainer1 {
    z-index: 9999;
    max-width: 465px;
    /* max-width: 1024px; */
  }

  .footer {
    border-top: none;
    display: flex;
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 26px;
    justify-content: space-around;
  }

  .error_message {
    /* padding-top: 4px;
    padding-left: 10px; */
    color: #ef0b0bde;
    font: normal normal normal 10px/10px Montserrat;
    text-align: center;
  }

  .passwordIcon {
    bottom: 39px;
    left: -20px;
  }
  /* .saveButton{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
     
  } */
  .btnPrimary1 {
    border-radius: 16px;
    border: 1px solid #213D77;
    background-color: #EFEFEF;
    color: #213D77;
    text-transform: capitalize;
    margin-right: 1.25rem;
    width: 120px;
    height: 30px;
  }
  .btnPrimary {
    border-radius: 16px;
    border: 1px solid #213D77;
    background-color: #213D77;
    color: #EFEFEF;
    text-transform: capitalize;
    margin-right: 0.25rem;
    width: 120px;
    height: 30px;
}

/* .btn{
  padding: 11px 17px;
    font-size: 13px;
    letter-spacing: 0;
} */

  /* saveButton */
  @media (min-width: 900px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .extraDiv {
      display: none;
    }
    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .bex{
    margin-left: 194px;

    }
  }

  @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
    flex-direction: column;
    width: 100%;
    }
    .grid1 {
      display: flex;
      flex-direction: column;
    }
    .fullGrid {
      display: flex;
      flex-direction: column;
    }
    .detailsBox {
      display: flex;
      flex-direction: column;
    }
    .box2 {
      width: 100%;
    }
    .box3 {
      width: 100%;
  }
  .box1{
    width: 100%;
    height: 280PX;
  }
 
  .inputfield1{
    display: block;
  }
  .textfield{
    display: block;
  }
  .bex {
    padding-top:19px;
    margin-left: 66px;
    }

}
  

  @media (min-width: 280px) and (max-width: 550px) {
   
    .box {
      padding-left: 0px;
      padding-right: 0px;
    }
    .passwordDiv {
      display: flex;
      flex-direction: column;
    }
    .textfield2{
      width: 117%;
      /* display: inline-flex; */
      margin-left: 57px;
      padding-top: 14px;
      margin: 11px 30px 11px 30px;
      padding-left: 25px;
      padding-right: 10px;
      display: block;
    }
  }
  @media (min-width: 600px) and (max-width: 900px) {
    .textfield2{
      width: 118%;
      /* display: inline-flex; */
      margin-left: 57px;
      padding-top: 14px;
      margin: 11px 30px 11px 30px;
      padding-left: 25px;
      padding-right: 10px;
      display: block;
    }
  }
  @media (min-width: 900px) and (max-width: 990px) {
    .passwordDiv {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 180px) and (max-width: 428px) {
    .header {
      flex-direction: column;
    }
    .title1 {
      font-size: 22px;
      margin-bottom: 8px;
    }  
    
  }
  /* @media (min-width: 280px) and (max-width: 899px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
    .fullGrid {
      display: flex;
      flex-direction: column;
    }
    .grid1 {
      display: flex;
      flex-direction: column;
    }
    .detailsBox {
      display: flex;
      flex-direction: column;
    }
    .box2 {
      width: 100%;
    }
      .box1{
        width: 100%;
        height: 280PX;
      }
    
  } */
  @media (min-width: 200px) and (max-width: 375px) {
    /* .button3{
      width: 100%;
      margin-right: 6px;
    } */
    .title{
      text-align: center;
    }
  }
  /* @media (min-width: 280px) and (max-width: 1024px) {
    .bex {
    padding-top:19px;
    margin-left: 66px;
    }
  } */
   @media (min-width: 280px) and (max-width:420px) { 
    .saveButton{
      display:contents;
      margin-bottom: 10px;
      padding: 0.75rem;
      margin-top: 20px;
    }
    .btnPrimary1{
      width: 100%;
      margin-bottom: 5px;
      height: 30px;
      margin-top: 20px;
    }
    .btnPrimary{
      width: 100%;
      float: none;
      height: 30px;
    }
    .box3{
      height: 850px;
    }
  } 
  @media (min-width: 425px) and (max-width:850px) { 
    .saveButton{
      display: flex;
      align-items: center; 
      justify-content: space-between;
      width: 200px;
      float: right;
      margin-right: 14px;
      margin-top: -7px;
      
    }
    /* .btnPrimary1{  
    width: 20%;
    margin-left: 161px;
    margin-top: 15px;
    }
    .btnPrimary{
      width: 20%;
      margin-right:20px;
      margin-top: 15px;
    } */
  }
  

  /* passwordIcon label*/
