@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.left {
  height: 103vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('./images/Login_background.svg');
   
}


.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.image{
  padding-top: 0px;
  height: 100vh;
  width: 152vh;
  object-fit: fill;
  padding: 0px 3px;
  margin: 17px
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.right{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #12141a2e;
  border-radius: 20px;
  padding: 80px 24px;
  width: 520px;
  position: absolute;
  text-align: center;
  margin: 30px auto;
  right: 70px;
}

.passenger{
  width: 170px;
}

.next_header {
  padding-top: 45px;
  width: 220px;
  text-align: center;
}

.master_header {
  top: 0px;
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  color: #213D77;
  margin: auto;
  padding: 0px;
  border-bottom: ridge;
  width: fit-content;
  border-bottom: 1px solid #213D77;
}

.forgotPwdDiv {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkBoxLabel{
  opacity: 1;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkBox{
  display: flex;
}

@media (min-width: 280px) and (max-width: 768px) {
 
  .right{
    width: 100%;
    position: relative;
    right: 0%;
   
  }
}
@media (min-width:570px) and (max-width:1024px){
  .right{
    width: 500px;
    left: 0;
    right: 0;

  }

}
@media (min-width:768px) and (max-width:1024px){
  .left{
    background-position: initial;
  }
  .right{
    position: relative;
  }
}
.form {
  width: 325px;
  height: 27vh;
}

.wrap {
  margin-top: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button2 {
  width: 200px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  background-color:#213D77;
  border: none;
  border-radius: 15px;
  box-shadow: -6px -6px 2px #12141a27;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button1:hover {
  background-color:#213D77;
  box-shadow: -6px -6px 2px #12141a27;
  color: #fff;
  /* transform: translateY(-7px); */
}

/* passenger */